.project_container{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
margin: 20px;
background: rgb(156, 222, 244);
padding: 1.4rem 2rem;
border-radius: 2rem;
border: 2px solid rgb(6, 6, 6);
}


 .project_details{
    background: rgb(2, 24, 50);
    border-radius: 1rem;
    padding: 10px ;
    width: 100%;
    height: auto;
    border: 3px solid black;
} 

.links{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.project_details:hover{
    width: 103%;
    height: auto;
    background: yellowgreen;
    transition : all 500ms ease;
}

.links a :hover {
color: rgb(2, 23, 22);
}